*{
    padding: 0;
    margin: 0;
    outline: none; 
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Playfair Display', 'Lato';
}

:root{
    --bg-body: white; /*Fondo*/
    --header-bg: #4a2f2f; /*Fondo del header*/
    --bg-card: rgba(89, 69, 69, 0.05); /*Fondo de cards y contenedores*/
    --hf-text: white; /*Texto de header y footer*/
    --card-text: black; /*Color de texto de las cards*/
    --main-text: black; /*Color de texto general*/
    --card-border: black; /*Color para acentuar*/
    --border: #b87b7b; /*Color para los bordes*/
    --separador: #b87b7b; /*Color de línea separadora*/
    --bg-local-card: rgba(89, 69, 69, 0.05); /*Fondo de cards de locales individuales*/
}

/*COLORES DEL MODO OSCURO*/

.dark-mode{
    --bg-body: #362424;
    --header-bg: #261717;
    --bg-card: #E6DCDC;
    --card-text: #362424;
    --main-text: #FFF8EA;
    --card-border: #d69e9e;
    --border: #5b3c3c;
    --separador: #815B5B;
    --bg-local-card: rgba(119, 89, 89, 0.527);
}

/*CONFIGURACIÓN GENERAL*/

html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    background-color: var(--bg-body);
}

img{
    max-width: 100%;
    height: auto;
    display: block; /*Para eliminar espacios extra*/
}

main {
    flex: 1; 
    background-color: var(--bg-body);
}

/*Tipografía para los títulos*/
h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 0.5px;
}

/*Tipografía para el resto de textos*/
body, p, span, li, button, a {
    font-family: 'Lato', sans-serif;
} 

/*HEADER*/
.header {
    width: 100%;
    background: var(--header-bg);
    padding: 12px 0;
    border-bottom: 1px solid #FFF8EA;
    /*Para que se mueva junto a la pantalla*/
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 999; /*Fuerza a que se coloque en una capa diferente*/
}

header .banner{
    text-align: center;
    color: #FFF8EA;
    font-size: 0.7rem;
    border-bottom: 1px solid #FFF8EA;
}

/*BARRA DE NAVEGACIÓN*/

.header .header-container {
    width: 95%;
    max-width: 1300px;
    padding-top: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-container .logo img{
    width: 115px;
    height: auto;
}

.nav {
    display: flex;
    gap: 30px;
}

.nav a {
    color: #FFF8EA;
    text-decoration: none;
    font-size: 0.95rem;
    transition: 0.3s;
}

.nav a:hover {
    color: #b87b7b;
    text-decoration: underline;
}

/*Botón de Modo Oscuro-Claro*/

.darkmode-btn {
    background: none;
    cursor: pointer;
    width: 40px;
    height: auto;
    border-radius: 50%;
}

.darkmode-btn:hover {
    padding: 5px;
    border: 1px solid #FFF8EA;
}

/*MENÚ HAMBURGUESA*/

#burger-btn {
    width: 40px;
    height: auto;
    cursor: pointer;
    display: none; /*Oculto hasta que se active cuando el tamaño de la pantalla cambie*/
    margin-right: 1.5rem;
}

#burger-btn:hover {
    border: 1px solid #FFF8EA;
}

/*FOOTER*/
.footer {
    background: var(--header-bg);
    color: #FFF8EA;
    padding: 50px 0 20px 0;
    border-top: 1px solid #FFF8EA;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 40px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1rem; /* pequeño padding lateral para que no pegue contra el borde */
    box-sizing: border-box;
}

.footer-section img {
    width: 170px;
    height: auto;
    padding-bottom: 5px;
}

.footer-section p {
    margin: 5px 0;
    font-size: 0.9rem;
}

.footer-section a {
    color: #FFF8EA;
    text-decoration: none;
    transition: 0.3s;
}

.footer-section a:hover {
    color: #b87b7b;
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 40px;
    text-align: center;
    font-size: 0.85rem;
    color: #FFF8EA;
    border-top: 1px solid #FFF8EA;
    padding-top: 20px;
}

.footer-bottom p:hover {
    cursor: pointer;
}

/*MEDIA QUERY*/

@media (max-width:991px) {
    #burger-btn {
        display: block; /*Muestra el menú hamburguesa*/
    }

    /*Se transforma en menú desplegable*/
    header .header-container .nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--header-bg);
        flex-direction: column; /*Para que los enlances esten uno abajo del otro*/
        align-items: center;
        display: none;
        padding: 1rem 0;
        border-top: 1px solid var(--border);
        border-bottom: 2px solid var(--border);
    }

    /*Enlances cuando se activa el menú hamburguesa*/
    header .header-container .nav a {
        display: block;
        margin: 1rem 0;
        font-size: 1.2rem;
        width: 100%;
        height: auto;
        text-align: center;
    }

    header .header-container .nav a:hover, a:active {
        color: #b87b7b;
        text-decoration: underline;
    }

    header .header-container .icons {
        display: flex;
        align-items: center;
    }

    header .header-container .nav.active {
        display: flex; /*Abre el menú cuando se hace click*/
    }
}



/* Tablets (entre 900px y 600px aprox) */
@media (max-width: 900px) {
    .footer-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        text-align: left;
    }
}

/* Celulares (menos de 600px) */
@media (max-width: 600px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 0 1.5rem;
    }

    .footer-section img {
        margin: 0 auto 0.75rem;
    }
}