*{
    padding: 0;
    margin: 0;
    outline: none; 
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif; /*Tipografía para cambiar*/
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 120px;
}

img{
    max-width: 100%;
    height: auto;
    display: block; /*Para eliminar espacios extra*/
}

main {
    flex: 1; 
}

/*HEADER*/
.header {
    width: 100%;
    background: #5b3c3c;
    padding: 12px 0;
    border-bottom: 2px solid #4a2f2f;
    /*Para que se mueva junto a la pantalla*/
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 999; /*Fuerza a que se coloque en una capa diferente*/
}

header .banner{
    text-align: center;
    color: white;
    font-size: 0.7rem;
    border-bottom: 1px solid white;
}

/*Barra de navegación*/

.header .header-container {
    width: 95%;
    max-width: 1300px;
    padding-top: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

header .header-container .logo img{
    width: 115px;
    height: auto;
}

.nav {
    display: flex;
    gap: 30px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 0.95rem;
    transition: 0.3s;
}

.nav a:hover {
    opacity: 0.7;
    text-decoration: underline;
}

.darkmode-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
}

.darkmode-btn:hover {
    background-color: white;
    opacity: 0.8;
    border-radius: 60%;
    transform: scale(1.1); 
}

/*SECCIÓN INTRO*/

.intro{
    background-color: white;
    display: flex;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    background: url(imagenes/Hero.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.intro .container-intro{
    background: rgba(114, 91, 91, 0.7);
    padding: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    color: white;
}

.intro .container-intro h1{
    font-size: 5rem;
}

.intro .container-intro p{
    font-size: 1.8rem;
}

.intro .container-intro a{
    background-color: white;
    color: black;
    padding: 1.5rem;
    padding-top: 0.7rem; 
    padding-bottom: 0.7rem;
    font-size: 2rem;
    margin-top: 2rem;
    text-decoration: none;
}

.intro .container-intro a:hover{
    opacity: 0.9;
}

/*SECCIÓN DE DESCRIPCIÓN*/

.description{
    width: 85rem;
    height: auto;
    border: transparent;
    border-bottom: 2px solid #b87b7b;
    border-style: dashed;
}

.description .desc{
    text-align: center;
    padding: 2rem;
}

.description .desc h2{
    padding: 1.5rem;
    font-size: 30px;
    font-weight: 700;
}

.description .desc p{
    font-size: 15px;
}

/*SECCIÓN DE SERVICIOS*/

.servicios .card{
    margin: 1.5rem;
    width: 50rem;
    height: auto;
    text-align: center;
    justify-self: center;
}

.servicios .card img{
    height: 150px;
    width: auto;
}

.servicios .card h5{
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 10px;  
}

.servicios .card .card-text{
    font-size: 1rem;
}

/*Cards con los servicios*/

.servicios .col .card{
    justify-content: center;
    align-items: center;
    width: 18rem;
    margin: 1rem;
}

.servicios .col .card img{
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.servicios .card .card-body{
    font-size: 0.8rem;
}

.servicios .card .card-body .card-title{
    font-weight: 600;
    font-size: 1rem;
}

/*Botones Flotantes*/
.floating-buttons {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    gap: 10px;
    z-index: 100;
}

/*FOOTER*/
.footer {
    background: #5b3c3c;
    color: #e6dcdc;
    padding: 50px 0 20px 0;
    margin-top: 40px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 95%;
    max-width: 1300px;
    margin: auto;
    gap: 40px;
}

.footer-section img{
    width: 170px;
    height: auto;
    padding-bottom: 5px;
}

.footer-section p {
    margin: 5px 0;
    font-size: 0.9rem;
}

.footer-section a {
    color: #e6dcdc;
    text-decoration: none;
    transition: 0.3s;
}

.footer-section a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 40px;
    text-align: center;
    font-size: 0.85rem;
    color: #e6dcdc;
    border-top: 1px solid white;
    padding-top: 20px;
}

.footer-bottom p:hover {
    cursor: pointer;
}

img{
    width: 100%;
    height: auto;
    display: block; /*Para eliminar espacios extra*/
}

/*MEDIA QUERY*/

@media (max-width: 600px) {
    .nav {
        display: none;
    }

    .footer-container {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

        .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


