/* Fondo general */
main{
    background-color: #f7f7f7;
}

/* SECCIÓN LOCALES */
.locales-section {
    width: 100%;
    padding: 40px 20px;
    text-align: center;
}

.locales-section h2 {
    font-size: 2.2rem;
    margin-bottom: 30px;
    color: #5a3e3e;
    font-weight: 800;
    text-shadow: 0 2px 6px rgba(0,0,0,0.35);
    letter-spacing: 1px;
    padding: 40px;
}

/* HEADER LOCALES (Buscador + Filtros + Orden)*/
.locales-header {
    max-width: 900px;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.right-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* (Search) */
.search-container {
    display: flex;
    align-items: center;
    gap: 6px;
}

#searchInput {
    padding: 8px 14px;
    border-radius: 20px;
    border: 1px solid #b69d9d;
    outline: none;
    background-color: #f2eded;
    color: #5b4b4b;
    width: 200px;
}

#searchLocal {
    padding: 8px 12px;
    border: 2px solid #d6c8c8;
    border-radius: 10px;
    width: 230px;
    font-size: 0.9rem;
    outline: none;
}

#searchLocal:focus {
    border-color: #5b3c3c;
}

.search-btn {
    border: none;
    background: #d7c6c6;
    padding: 6px 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.search-btn img {
    width: 18px;
    height: 18px;
}

.search-btn:hover {
    background: #c4b5b5;
}

/* (Sort) */
.sort-btn {
    background: #5b3c3c;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.2s;
}

.sort-btn:hover {
    opacity: 0.8;
}

/* (filter dropdown) */
.filter-dropdown {
    position: absolute;
    top: 45px;
    right: 0;
    background: white;
    border: 2px solid #d6c8c8;
    border-radius: 10px;
    padding: 10px 0;
    width: 180px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    display: none;
    z-index: 999;
}

.filter-dropdown p {
    margin: 0;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.2s;
}

.filter-btn {
    background: #5b3c3c;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9rem;
}

.filter-btn:hover {
    opacity: 0.8;
}

.filter-dropdown p:hover {
    background: #f2e8e8;
}

/* GRID DE LOCALES  */

.locales-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    justify-items: center;
    max-width: 1100px;
    margin: 0 auto; 
    padding: 20px;
    width: 95%;

    background-color: #693d3d10;
    border-radius: 20px;
}

/* CARD DE LOCALES  */
.local-card {
    position: relative;
    width: 100%;
    height: 230px;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.local-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    z-index: 5; 
}

/* logo */
.logo-container {
    position: relative;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.logo-container::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
}

/* Hover */
.hover-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    color: #fff;
    z-index: 3;
    transition: opacity 0.3s ease;
}

.local-card:hover .logo-container::before {
    background: rgba(0,0,0,0.55);
}

.local-card:hover .hover-info {
    opacity: 1;
}

.hover-info h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 6px;
}

.hover-info p {
    margin-bottom: 8px;
}

/* Boton visitar sitio */
.perfil-btn {
    width: 100%;
    background: #685050;
    color: #fff;
    text-align: center;
    padding: 12px 0;
    font-weight: bold;
    border-radius: 0 0 16px 16px;
    font-size: 1rem;
    transition: 
    background 0.25s ease,
    transform 0.25s ease,
    letter-spacing 0.25s ease;
}
.perfil-btn:hover {
    background: #4e3939;
    letter-spacing: 1px; 
}

/* SEPARADOR */
.separador {
    border: none;
    border-top: 4px solid #503030; 
    margin: 40px 0;
    width: 100%;
}

/* SECCIÓN MAPA */
.mapa-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mapa-section {
    text-align: center;
    padding: 20px 0 60px 0;
}

.mapa-section h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #5a3e3e;
}

.mapa-img {
    width: 100%;
    max-width: 900px;
    border-radius: 12px;
    border: 2px solid var(--color-border);
    box-shadow: 0 6px 20px rgba(0,0,0,0.18);
    transition: opacity .4s ease, transform .4s ease;
}
.mapa-img:hover {
    transform: scale(1.05);
}

.mapa-img.fade-out {
    opacity: 0;
    transform: scale(0.98);
}

.mapa-img.fade-in {
    opacity: 1;
    transform: scale(1);
}

.map-btn {
    background: #5b3c3c;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.2s;
}

.map-btn:hover {
    opacity: 0.8;
}

.mapa-buttons {
    margin-top: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    gap: 15px;
}

.mapa-btn.active {
    background: #d6b3b3;
    padding: 5px;
    color: #4d2d2d;
    font-weight: bold;
    border: 2px solid #5b3c3c;
    border-radius: 15px;
}



/* Responsive */
@media (max-width: 800px) {
    .locales-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .locales-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Celulares */
@media (max-width: 600px) {
    .locales-header {
        flex-direction: column;
        gap: 12px;
    }
    .right-controls {
        width: 100%;
        justify-content: center;
    }
    #searchInput {
        width: 150px;
        padding: 6px 10px;
        font-size: 0.8rem;
    }
    .local-card {
        height: 180px;
    }
    .locales-section h2 {
        font-size: 1.6rem;
        padding: 20px;
    }
    .hover-info h3 {
        font-size: 1rem;
    }
        .locales-grid {
        gap: 15px;
    }
        .logo-container img {
        max-width: 65%;
        max-height: 90px;
    }
        .search-container,
    .right-controls {
        justify-content: center;
    }
}

/* Celulares chicos */
@media (max-width: 420px) {

    .local-card {
        height: 160px;
    }

    .perfil-btn {
        font-size: 0.8rem;
        padding: 8px 0;
    }

    .hover-info h3 {
        font-size: 0.9rem;
    }
    .hover-info p {
        font-size: 0.75rem;
    }
        .logo-container img {
        max-width: 60%;
        max-height: 80px;
    }
}