*{
    padding: 0;
    margin: 0;
    outline: none; 
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif; /*Tipografía para cambiar*/
}

:root{
    --bg-body: white; /*Fondo*/
    --header-bg: #4a2f2f; /*Fondo del header*/
    --bg-card: rgba(89, 69, 69, 0.05); /*Fondo de cards y contenedores*/
    --hf-text: white; /*Texto de header y footer*/
    --card-text: black; /*Color de texto de las cards*/
    --main-text: black; /*Color de texto general*/
    --card-border: black; /*Color para acentuar*/
    --border: #b87b7b; /*Color para los bordes*/
    --separador: #b87b7b; /*Color de línea separadora*/
}

/*COLORES DEL MODO OSCURO*/

.dark-mode{
    --bg-body: #362424;
    --header-bg: #261717;
    --bg-card: #E6DCDC;
    --card-text: #362424;
    --main-text: #FFF8EA;
    --card-border: #d69e9e;
    --border: #5b3c3c;
    --separador: #815B5B;
}

/*CONFIGURACIÓN GENERAL*/

html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    background-color: var(--bg-body);
}

img{
    max-width: 100%;
    height: auto;
    display: block; /*Para eliminar espacios extra*/
}

main {
    flex: 1; 
    background-color: var(--bg-body);
}

/*HEADER*/
.header {
    width: 100%;
    background: var(--header-bg);
    padding: 12px 0;
    border-bottom: 1px solid #FFF8EA;
    /*Para que se mueva junto a la pantalla*/
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 999; /*Fuerza a que se coloque en una capa diferente*/
}

header .banner{
    text-align: center;
    color: #FFF8EA;
    font-size: 0.7rem;
    border-bottom: 1px solid #FFF8EA;
}

/*BARRA DE NAVEGACIÓN*/

.header .header-container {
    width: 95%;
    max-width: 1300px;
    padding-top: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-container .logo img{
    width: 115px;
    height: auto;
}

.nav {
    display: flex;
    gap: 30px;
}

.nav a {
    color: #FFF8EA;
    text-decoration: none;
    font-size: 0.95rem;
    transition: 0.3s;
}

.nav a:hover {
    color: #b87b7b;
    text-decoration: underline;
}

/*Botón de Modo Oscuro-Claro*/

.darkmode-btn {
    background: none;
    cursor: pointer;
    width: 3%;
    height: auto;
    border-radius: 50%;
}

.darkmode-btn:hover {
    padding: 5px;
    border: 1px solid #FFF8EA;
}

/*FOOTER*/
.footer {
    background: var(--header-bg);
    color:#FFF8EA;
    padding: 50px 0 20px 0;
    border-top: 1px solid #FFF8EA;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 95%;
    max-width: 1300px;
    margin: auto;
    gap: 40px;
}

.footer-section img{
    width: 170px;
    height: auto;
    padding-bottom: 5px;
}

.footer-section p {
    margin: 5px 0;
    font-size: 0.9rem;
}

.footer-section a {
    color: #FFF8EA;
    text-decoration: none;
    transition: 0.3s;
}

.footer-section a:hover {
    color: #b87b7b;
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 40px;
    text-align: center;
    font-size: 0.85rem;
    color: #FFF8EA;
    border-top: 1px solid #FFF8EA;
    padding-top: 20px;
}

.footer-bottom p:hover {
    cursor: pointer;
}

/*MEDIA QUERY*/

@media (max-width: 600px) {
    .nav {
        display: none;
    }

    .footer-container {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

        .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


